<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd		
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<description>Spring MVC Configuration dev</description>

	<!-- 加载配置属性文件 -->
	<context:property-placeholder
		ignore-unresolvable="true" location="classpath*:/application.properties" />

	<!-- 使用Annotation自动注册Bean,只扫描@Controller base-package 如果多个，用“,”分隔 -->
	<context:component-scan base-package="com.yihg.erp.controller"><!-- base-package 
			如果多个，用“,”分隔 -->
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 设置请求映射编码，解决@ResponseBody乱码问题 -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/plain;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 启动注解,默认的注解映射的支持，org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping -->
	<mvc:annotation-driven />

	<!-- 对静态资源文件的访问， 将无法mapping到Controller的path交给default servlet handler处理 -->
	<!-- <mvc:default-servlet-handler /> -->
	<!-- 设置freeMarker的配置文件路径 -->
	<bean id="freemarkerConfiguration"
		  class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="/WEB-INF/classes/freemarker.properties" />
	</bean>
	<!-- 配置freeMarker的模板路径 -->
	<bean id="freemarkerConfig"
		  class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/ftl/" />
		<property name="freemarkerSettings" ref="freemarkerConfiguration" />
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
			</map>
		</property>
	</bean>

	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	<!-- 配置freeMarker视图解析器 -->
	<bean id="freemarkerViewResolver"
		  class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
		<property name="contentType" value="text/html; charset=utf-8" />
		<property name="cache" value="true" />
		<property name="requestContextAttribute" value="rc"></property>
		<property name="order" value="0"/>
	</bean>

	<!-- JSP 视图文件解析配置 -->
	<bean
			class="org.springframework.web.servlet.view.InternalResourceViewResolver"
			id="JspViewResolver">
		<property name="viewClass"
				  value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="${web.view.prefix}" />
		<property name="suffix" value="${web.view.suffix}" />
		<property name="order" value="2" />
	</bean>

	<!-- 定义无Controller的path<->view直接映射 -->
	<mvc:view-controller path="/" view-name="${web.view.index}" />

	<!-- 静态文件（css、js、images）配置不经过DispatchServelet处理 <mvc:resources location="/resources/"
		mapping="/resources/**" /> -->

	<!-- 上传文件拦截，设置最大上传文件大小 10M=10*1024*1024(B)=10485760 bytes -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="${web.maxUploadSize}" />
	</bean>

	<!-- 异常解析器 -->
	<bean id="simpleMappingExceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<!-- 方法不支持错误 -->
				<prop
					key="org.springframework.web.HttpRequestMethodNotSupportedException">common/500</prop>
			</props>
		</property>
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.yihg.erp.interceptor.AuthenticationInterceptor">
				<!-- 不用登录验证 -->
				<property name="excludedUrls">
					<list>
						<value>/login.**</value>
						<value>/verify.htm</value>
						<value>/logout.**</value>
						<value>/assets/**</value>
						<value>/b2b/**</value>
						<value>/taobaoJst/**</value>
						<value>/visa.**</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<aop:aspectj-autoproxy />
	<bean class="com.yihg.erp.aop.PostInterceptor" />

	<mvc:interceptors>
		<bean class="com.yihg.erp.aop.ResponseInterceptor"></bean>
	</mvc:interceptors>
<!-- 	<mvc:interceptors> -->
<!-- 		<bean class="com.yihg.erp.interceptor.AvoidDuplicateSubmissionInterceptor" /> -->
<!-- 	</mvc:interceptors> -->
</beans>